{% extends 'baseB.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block main %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Admin Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                Welcome, {{ app.user.userFname }}! This is the admin dashboard.
            </div>
        </div>
    </div>
{% endblock %}