{% extends 'baseB.html.twig' %}

{% block title %}
  New {% if role == 'coach' %}Coach{% elseif role == 'med_staff' %}Medical Staff{% else %}Athlete{% endif %} | SPIIN Sports
{% endblock %}
{% block description %}
  Create a new {% if role == 'coach' %}coach{% elseif role == 'med_staff' %}medical staff{% else %}athlete{% endif %} in the SPIIN Sports system
{% endblock %}
{% block keywords %}
  new {% if role == 'coach' %}coach{% elseif role == 'med_staff' %}medical staff{% else %}athlete{% endif %}, sports, management, SPIIN
{% endblock %}

{% block main %}
  <div class="container-fluid px-4">
    <h1 class="mt-4">Create New {% if role == 'coach' %}Coach{% elseif role == 'med_staff' %}Medical Staff{% else %}Athlete{% endif %}</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="{{ path('app_admin_dashboard') }}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{{ path('app_user_index', {'context': 'back', 'role': role}) }}">{% if role == 'coach' %}Coaches{% elseif role == 'med_staff' %}Medical Staff{% else %}Athletes{% endif %}</a></li>
      <li class="breadcrumb-item active">New</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        {{ include('user/_form.html.twig', {'button_label': 'Save', 'role': role, 'context': 'back', 'is_new': true}) }}
      </div>
    </div>
    <a href="{{ path('app_user_index', {'context': 'back', 'role': role}) }}" class="btn btn-outline-secondary">
      <i class="fas fa-arrow-left"></i> Back to List
    </a>
  </div>
{% endblock %}